<!DOCTYPE html>
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8" />
    <title>Flower Class Prediction</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="container contact-form">
      <form action="{{ url_for('entry_page')}}" method="post">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="contact-image">
                <img
                  src="{{ url_for('static', filename='img/sunflower.png') }}"
                  alt="rocket_contact"
                />
              </div>
              <h4>BANK GBM</h4>
            </div> 
            <div class="form-group">
              <p>Bank ini hanya menggunakan Gradient Boosting Machine untuk memprediksi kelayakan pemberian pinjaman</p>
            </div>           
            <button type="submit" class="btn btn-primary btn-block btn-large" name="page" value="gbm">
              kunjugi
            </button>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="contact-image">
                <img
                  src="{{ url_for('static', filename='img/sunflower.png') }}"
                  alt="rocket_contact"
                />
              </div>
              <h4>BANK MPA</h4>
            </div> 
            <div class="form-group">
              <p>Bank ini menggunakan Gradient Boosting Machine dan Marine Predator Algorithm sebagai seleksi fitur untuk memprediksi kelayakan pemberian pinjaman</p>
            </div>           
            <button type="submit" class="btn btn-primary btn-block btn-large" name="page" value="mpa">
              kunjugi
            </button>
          </div>
        </div>
        
      </form>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>

